body{
<<<<<<< HEAD
    background-color: rgb(245, 178, 146);
=======
    background-color: rgb(240, 232, 229);
>>>>>>> mudando-cor-bg-final
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
li{
    font-size: 15px;
}
p{
    font-size: 20px;
}