* {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    background-color: F7F0F5;
    font-family: 'Bebas Neue', sans-serif;

}

h1 {
    font-size: 20px;
}

#cabecalho {
    top: 0;
    position: fixed;
    background-color: rgb(240, 89, 89);
    color: white;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
}

.descricao {
    margin-top: 60px;
    margin-left: 10px;
}

#descrito {
    text-align: justify;
    margin-right: 30px;
    margin-top: 0px;
    margin-left: 10px;
}

.foto {
    margin-top: 10px;
    margin-left: 10px;
}

#eu {
    margin-top: 0px;
    margin-left: 20px;
}

.links {
    margin-top: 0px;
    margin-left: 10px;
}

#indice {
    margin-top: 0px;
    margin-left: 0px;
}

#caixa {
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
}

.habilidades {
    margin-top: 0px;
    margin-left: 10px;
}

#listahabilidades {
    margin-top: 0px;
    margin-left: 0px;
}

.blog-indicado{
    margin-top: 0px;
    margin-left: 10px;
}

#blog {
    margin-top: 0px;
    margin-left: 20px;
}

#rodape{
    position: fixed;
    bottom: 0;
    background-color: rgb(240, 89, 89);
    color: white;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    font-size: 10px;
}